button{
    transform: translate(50%,50%);
    font-weight:bold;
    outline:none;
    width:244px;
    height:50px;
    background: red;
    color:blue;
    text-align: center;
    font-size:15px;
    border-radius:40px;
    border-color:blue;
    transition:all 1s ease-in-out;
}
button:hover{
    background-color: aqua;
    box-shadow: 20px 15px 20px ;
}